.header {
    padding: 5em 0;
    background: url("../../images/bg-header-mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;

    .logo {
        margin-bottom: 3em;
    }
    .actions{
        display: flex;
        flex-direction: column;
        margin-top: 3em;
        align-items: center;

        @include breakpoint-up(medium) {
            flex-direction: row;
            gap: 2em;
        }
    }

    @include breakpoint-up(medium) {
        .header {
            background: url("../../images/bg-header-desktop.png");
            
            &__content {
                max-width: 60rem;
                margin: 0 auto;
            }
        }
    }
}